name: tests
on: [push, pull_request, workflow_dispatch]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '^1.24'
      - name: Install test deps
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          go install github.com/mgechev/revive@latest
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
          go install github.com/goreleaser/goreleaser@latest
      - name: Run tests
        run: |
          ./tests.sh
